/* Util */

.u-bottom20 {margin-bottom: 20px;}

/* Main */

.site-wrap.is-showing {
    background-color: #cccccc;
}

.site-header__main {
    padding: 20px 0;
    background-color: #f6f6f6;
    border-bottom: 1px solid #dddddd;
}

/*.site-header__nav {
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}
ul.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eeeeee;
}*/

.site-content {
    margin-bottom: 30px;
}

.site-footer {
    padding: 20px 0;
    border-top: 1px solid #dddddd;
}